<!DOCTYPE html>
<html>
  <head>
    <title>Get Moar Steps - View Device Stats</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1>Get Moar Steps: Current Statistics</h1>
    <div class="container">
        <h2>Number of steps:</h2>

	    <div id='echo' class="messageInfo"></div>
 	</div>
  <script type="text/javascript" src="/js/iot.js"></script>
  </body>
</html>
